examples/basic.json
[
  {
    "id": "049542b9958f9847",
    "type": "tab",
    "label": "Eufy Security Basic",
    "disabled": false,
    "info": ""
  },
  {
    "id": "609ac94b283c9b79",
    "type": "inject",
    "z": "049542b9958f9847",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"command\":\"close\"}",
    "payloadType": "json",
    "x": 240,
    "y": 260,
    "wires": [
      [
        "64822d202285c6a6"
      ]
    ]
  },
  {
    "id": "4641b8142900dfe6",
    "type": "debug",
    "z": "049542b9958f9847",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 300,
    "wires": []
  },
  {
    "id": "64822d202285c6a6",
    "type": "eufy-security",
    "z": "049542b9958f9847",
    "eufyConfig": "e0d916f75ab53065",
    "name": "",
    "topic": "",
    "events": [
      "connect",
      "close"
    ],
    "x": 450,
    "y": 300,
    "wires": [
      [
        "4641b8142900dfe6"
      ]
    ]
  },
  {
    "id": "b83162be2f521eb8",
    "type": "inject",
    "z": "049542b9958f9847",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"command\":\"connect\"}",
    "payloadType": "json",
    "x": 230,
    "y": 340,
    "wires": [
      [
        "64822d202285c6a6"
      ]
    ]
  },
  {
    "id": "e0d916f75ab53065",
    "type": "eufy-config",
    "trustedDeviceName": "eufyclient",
    "country": "US",
    "language": "en",
    "eventDurationSeconds": "10",
    "p2pConnectionSetup": "0",
    "pollingIntervalMinutes": "10",
    "acceptInvitations": "false"
  }
]